<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header }}
<body class="game-page">
  <div class="logo-wrapper">
    <img src="/css/gg purple logo.png" alt="GameGram Logo">
        <h1 class="brand-title">GameGram</h1>
        <img src="/css/gg purple logo.png" alt="GameGram Logo">
   </div>
   {{> fragments/navbar }}
    

   <a href="/games/{{gameId}}/makereview" class="button">Write a Review</a>
   <div class="container">
      <ul>
         {{#reviews}}
            <li>
               <h2>{{content}}</h2>
               {{#user}}
                  <img src="{{profileImagePath}}" alt="Profile Image">
                  <p>{{firstName}} {{lastName}}</p>
               {{/user}}
            </li>
         {{/reviews}}
      </ul>
   </div>
</body>