<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header }}
<body class="game-page">
  <div class="logo-wrapper">
    <img src="/css/gg purple logo.png" alt="GameGram Logo">
        <h1 class="brand-title">GameGram</h1>
        <img src="/css/gg purple logo.png" alt="GameGram Logo">
    </div>
    {{> fragments/navbar }}
    
    <div class="container">

        <h1>Game Search</h1>

        <form method="get" action="/games" class="search-form">
            <input name="query" type="text" placeholder="Search Games" class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>

 {{#games}}
<div class="games-container">
    <div class="game-card">
        <h3>{{name}}</h3>
        <p><strong>Genre:</strong> {{genre}}</p>
        <p><strong>Platforms:</strong> {{platformListString}}</p>
        <p><strong>Publishers:</strong> {{publisherList}}</p>
        <p><strong>Year:</strong> {{year}}</p>
    </div>
</div>
{{/games}}


            {{^games}}
                <p class="no-games">No games found</p>
            {{/games}}
        </div>
        </div>
    </div>
</body>
</html>

